<h1>Crunchy Frog</h1>
<p class="description">An entertainment guide for your inbox.</p>
<%= form_for :user, class: "signupForm" do |f| %>
  <div id="input-wrapper">
    <%= f.text_field :email, placeholder: "email address" %>
    <%= f.text_field :password, placeholder: "password" %>
  </div>
  <%= f.submit "Give me emails!" %>
<% end %>
