<!DOCTYPE html>
<html>
<head>
  <title>CrunchyFrog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="left-column">
      <div id="left-wrapper">
        <%= yield %>
      </div>
    </div>

</body>
</html>
